
$neutral-l1: #FFFFFF;
$neutral-l2: #CCCCCC;
$neutral-l3: #EEEEEE;
$neutral-d3: #999999;
$neutral-d2: #666666;
$neutral-d1: #000000;
$error: #D80000;
$margin: rem-calc(20);

.txt-l1 { font-family: "Lato"; font-size: 12px; line-height: 20px; color: $neutral-d2; }
.txt-l2 { font-family: "Lato-Bold"; font-size: 12px; line-height: 20px; }
.txt-l4 { font-family: "Lato-Black"; font-size: 12px; line-height: 15px; }
.txt-f1 { font-family: "Lato-Light"; font-size: 14px; line-height: 17px; }
.txt-f2 { font-family: "Lato"; font-size: 14px; line-height: 17px; }
.txt-b1 { font-family: "Lato"; text-transform: uppercase; font-size: 12px; line-height: 1px; }
.txt-err { color: $error; }

@mixin txt-h2() {
	color: #FF5241;
	font-family: Lato;
	font-size: 24px;
	line-height: 28px;
}
@mixin txt-h4() {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #761113;
}
@mixin txt-l1() {
  color: $neutral-d2;
  font-family: "Lato";
  font-size: 12px;
  line-height: 20px;
}
@mixin txt-l2($color) {
  color: $color;
  font-family: "Lato-Bold";
  font-size: 12px;
  line-height: 20px;
}
@mixin txt-f1() {
  font-family: "Lato-Light";
  font-size: 14px;
  line-height: 17px;
}
@mixin txt-f2() {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
}
@mixin txt-b1($color) {
  color: $color;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1px;
}
@mixin txt-l3() {
	color: #777777;
	font-family: Lato;
	font-size: 16px;
	line-height: 32px;
}
@mixin button-1() {
  margin: 0;
  height: 40px; line-height: 40px; padding: 0;
  background-color: $neutral-l1;
  border-color: $primary;
  cursor: pointer;
  font-weight: normal;
}
@mixin button-1-hover() {
  background-color: $primary;
  color: $neutral-l1;
  border-color: $primary;
}

//-----------------------------------//
//   NEWSLETTER CARD LANDING PAGE BP //
//-----------------------------------//

html.newsletters-page .r-wrap {
  width: 330px;
  margin: 0 auto;
  @include breakpoint(large) {
    width: 635px;
  }
  @include breakpoint(xlarge) {
    width: 1020px;
  }
  @include breakpoint(xxlarge) {
    width: 1420px;
  }
  @include breakpoint(xxxlarge) {
    width: 1900px;
  }
}
html.newsletters-page.touch .r-wrap {
  width: 100%;
  margin: 0 auto;
  @include breakpoint(large) {
    width: 635px;
  }
  @include breakpoint(xlarge) {
    width: 1020px;
  }
  @include breakpoint(xxlarge) {
    width: 1420px;
  }
  @include breakpoint(xxxlarge) {
    width: 1900px;
  }
}

//----------------------//
//   NEWSLETTER CARD    //
//----------------------//

.columns {
  > .card {
    background-color: $neutral-l1;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    margin-bottom: 30px;
    position: relative;
    .cover {
      width: 100%;
      padding-bottom: 30%;
      background-size:cover; background-position: center center;
      position: relative;
      background-color: #000;
      .button {
        position: absolute;
        width: 25px;
        height: 25px;
        line-height: 25px;
        padding: 0;
        color: $neutral-l1;
        background-color: transparent;
        border: 1px solid $neutral-l1;
        top:10px;
        right: 10px;
        i  { font-size: 13px; }
      }
    }
		.cover-2 {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			background-size: cover;
			background-position: center center;
		}
    .grecaptcha-badge { display: none !important;}
    .description {
      padding: $margin $margin ($margin * 5) $margin;
      label {
        font-family: "Georgia"; font-weight: bold; font-style: italic;
        text-transform: uppercase; font-size: 10px; line-height: 11px; color: $neutral-d3;
        span { color: $primary; }
      }
      h5 {
        font-family: "Georgia"; font-weight: bold; font-size: 20px; line-height: 22px; color: $neutral-d1;
      }
      p, h5, ul { margin-top: $margin; margin-bottom: 0; }
    }
    .action {
      position: absolute;
      padding: 0;
      bottom: $margin * 2;
      left: $margin;
      width: -webkit-calc( 100% - #{($margin * 2)} );
      width: -moz-calc( 100% - #{($margin * 2)} );
      width: calc( 100% - #{($margin * 2)} );
      a { color: $primary; }
      input {
        margin: 0;
        @include txt-f2();
        color: #999;
        -webkit-box-shadow: inset 0 1px 3px #ccc;
        -moz-box-shadow: inset 0 1px 3px #ccc;
        box-shadow: inset 0 1px 3px #ccc;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
      }
      .input-group {
        margin: 0;
        .input-group-button {
          display: none;
        }
        .input-group-field.active + .input-group-button {
          display: table-cell !important;
        }
        .button {
          width: 40px;
          height: 40px;
          line-height: 40px;
          padding: 0;
          background-color: $primary;
          -webkit-box-sizing: border-box !important;
          -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
          .fa-exclamation-circle { display: none; }
        }
        .error-message { display: none; }
      }
      .input-group.active {
        .input-group-button {
          display: table-cell !important;
        }
      }
      .input-group.active.alert {
        position: relative;
        input {
          border-color: $error;
        }
        .button {
          background-color: $error;
          .fa-angle-right { display: none; }
          .fa-exclamation-circle { display: inline-block; }
        }
        .error-message {
          display: block;
          position: absolute;
          bottom: -22px;
          left: 0;
          @include txt-l2($error);
        }
      }
      .button.expanded {
        @include txt-b1($primary);
        @include button-1();
      }
      .button.expanded.secondary {
        background-color: $secondary;
        border-color: $secondary;
      }
      .button.expanded:hover {
        @include button-1-hover();
      }
    }
    @include breakpoint(xlarge up) {
      margin-bottom: 40px;
    }
  }
}

/* NOT LOGGED IN */
.columns > .card {
  .following, .follow, .cover .button { display: none; }
}
/* LOGGIN ONLY */
.columns > .card.loggedin {
  .cover .button {
    display: block;
    i.fa-check { display: none; }
  }
  .follow { display: block; }
  .email-form, .following { display: none; }
}
/* LOGGIN AND FOLLOWING */
.columns > .card.loggedin.following {
  .cover .button {
    background-color: $secondary;
    color: $primary;
    border-color: $secondary;
    i.fa-plus { display: none;}
    i.fa-check { display: inline-block; }
  }
  .email-form, .follow { display: none; }
  .following { display: block; }
}


//-----------------------------//
//   NEWSLETTER HERO BANNER    //
//-----------------------------//


#banner {
  > .row {
    padding-top:60px;
    padding-bottom: 60px;
    h1 { font-family: "Georgia"; font-size: 45px; line-height: 50px; color: $neutral-d1; text-align: center; font-weight: normal; }
		h6 { text-align: center; line-height: 24px; font-size: 14px; font-family: 'Lato'; }
  }
  @include breakpoint(xlarge up) {
    > .row {
      padding-top:60px;
      padding-bottom: 20px;
      background: url('../images/layout-bg.png') repeat-y;
      background-position: right 40px bottom;
      h1 { font-size: 60px; line-height: 68px; }
			h6 { font-size: 18px; }
			h1+h6:empty { display: none; }
    }
  }
}
.newsletters-page.preferences-act #banner {
  @include breakpoint(xlarge up) {
    > .row { background-image: none; }
  }
}
#banner.hero {
  background-color: #000;
  background-size:cover; background-position: center center;
	position: relative;
	> .sponsor {
		position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
		z-index: 1;
	}
  > .row {
    position: relative;
    display: block;
    height: 250px;
    padding-top: 0;
    padding-bottom: 0;
		.text-wrap {
      position: relative;
			width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
			h1 {
				color: $neutral-l1;
				text-shadow: 0px 1px 3px rgba(0,0,0,1);
			}
			h6 {
				color: $neutral-l1;
				text-shadow: 0px 1px 3px rgba(0,0,0,1);
			}
		}
  }
  @include breakpoint(large up) {
    > .row {
      height: 320px;
    }
  }
  @include breakpoint(xlarge up) {
    > .row {
      height: 320px; display: flex; align-items: center;
      background-image: none;
			.text-wrap {
				top:auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
			}
    }
  }
}
#banner.hero.featured {
  > .row {
    > .columns {
      display: none;
    }
  }
  @include breakpoint(xlarge up) {
    > .row {
      height: auto;
			.text-wrap {
        width: -webkit-calc( 100% - 350px);
        width: -moz-calc( 100% - 350px);
        width: calc( 100% - 350px);
				h1, h6 {
					text-align: left;
					padding-left: 40px;
				}
				h6 { padding-right: 30px;}
			}
      > .columns {
        padding: 0;
        display: block;
        width: 310px;
        .card {
          margin-bottom: 0;
          -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
          -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
          box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
        }
        .card:before {
          content: 'Featured';
          display: block;
          text-align: center; margin: 0; padding: 10px;
          border-top: 10px solid $secondary;
          background: #fff url('../images/layout-bg.png') repeat-y top center;
          font-family: "Georgia"; font-weight: bold; font-size: 14px;
          line-height: 16px; color: $primary;
        }
      }
    }
  }
}


//------------------//
//   NEWSLETTERS    //
//------------------//


#newsletters {
  section { display: none; }
  section.selected { display: block; }
  h4 {  @include txt-h4(); }
  .section-0 h4:only-child:after {
    display: block;width: 100%; height: 100px; padding-top: 40px;
    font-family: "Lato"; font-size: 12px; line-height: 20px; color: $neutral-d2; font-weight: normal;
    content: 'You are not following any newsletters.';
  }
  #no-touch { }
  #touch {
    padding-left: 0; padding-right: 0;
    .columns { padding-left: 0; padding-right: 0; }
    @import 'masterslider';
    .subhead { text-align: center; padding: 0 !important; }
    .ms-filters-template {
      section.row {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
      }
      .ms-slide {
        /*opacity: .4;*/
      }
      .ms-slide.ms-sl-selected {
       /* opacity: 1;*/
      }
    }
  }
  .subhead { margin: 20px 0 40px; padding-left: 20px; }
  > .row {
    padding-top: 40px;
    .filter {
      @include breakpoint(large down) {
        height: auto !important;
      }
      position: relative;
      .filter-button {
        background-color: $secondary;
        @include txt-b1($primary);
        width: 130px; height: 40px;
        line-height: 20px; margin: 0;
        position: absolute;
        top: -60px;
        left: -webkit-calc(50% - 65px);
        left: -moz-calc(50% - 65px);
        left: calc(50% - 65px);
				z-index: 2;
      }
      .menu {
        @include breakpoint(large down) {
          max-width: 100% !important;
        }
        display: none;
        > li {
          > a.preference-link i {
            margin-left: 10px;
            margin-bottom: 3px;
          }
          > a:not(.preference-link) i {
            display: none;
          }
          > a {
            @include txt-l1();
          }
          > a.selected { @include txt-l2($primary); }
          > a.apply-button {
            background-color: $secondary;
            @include txt-b1($primary);
            height: 40px;
            line-height: 40px;
            padding: 0;
            margin: 40px 0 0 0;
          }
        }
      }
    }
    .top-wrap {
      position: relative;
    }
    .top-button {
      margin: 0;
      width: 40px;
      height: 40px;
      padding: 0;
      line-height: 40px;
      position: absolute;
      bottom: 0;
      right: -40px;
      -moz-transition: bottom 0.5s ease;
      -webkit-transition: bottom 0.5s ease;
      transition: bottom 0.5s ease;
      background-color: $primary;
    }
    .top-button.fixed {
      position: fixed;
      bottom: 0px;
      -moz-transition: bottom 0.5s ease;
      -webkit-transition: bottom 0.5s ease;
      transition: bottom 0.5s ease;
      right: calc( 50% - 190px );
    }
  }
  @include breakpoint(medium only) {
    > .row {
      .top-button.fixed {
        right: calc( 50% - ( (#{(map-get($breakpoints, medium))} - 41px ) / 2)  );
      }
    }
  }
  @include breakpoint(large only) {
    > .row {
      .top-button.fixed {
        bottom: 0;
        right: calc( 50% - ( (#{(map-get($breakpoints, large))} - 16px ) / 2)  );
      }
    }
  }
  @include breakpoint(xlarge up) {
    .section-0 h4:only-child:after { height: 380px; }
    > .row {
      background: url('../images/layout-bg.png') repeat-y;
      background-position: right 40px top;
      .filter {
        .menu {
          display: block;
          padding-top: 20px;
          width: 153px;
          > li {
            margin-bottom: 5px;
            > a { padding: 0 15px 0 15px; position: relative; }
            > a.selected i, a.preference-link i { top: 5px; position: absolute; right: -2px; display: inline-block; }
            > a.preference-link i { margin-left: 0px; margin-bottom: 0px; }
            > a:hover { background-color: $neutral-l3; }
          }
        }
        .menu.is-stuck { padding-top: 60px; }
      }
    }
  }
  @include breakpoint(xlarge only) {
    > .row {
      .top-button {
        right: -106px;
      }
      .top-button.fixed {
        right: calc( 50% - ( (1020px - 80px ) / 2)  );
      }
      > .xlarge-2.columns { width: 19%; }
      > .xlarge-8.columns.end { width: 68.66%; }
    }
  }
  @include breakpoint(xxlarge only) {
    > .row {
      .filter .menu {
        width: 158px;
      }
      .top-button {
        right: -152px;
      }
      .top-button.fixed {
        right: calc( 50% - ( (#{(map-get($breakpoints, xxlarge))} - 80px ) / 2)  );
      }
      > .xlarge-2.columns { width: 14%; }
      > .xlarge-8.columns.end { width: 74%; }
    }
  }
  @include breakpoint(xxxlarge up) {
    > .row {
      .filter .menu {
        width: 240px;
      }
      .top-button {
        right: -195px;
      }
      .top-button.fixed {
        right: calc( 50% - ( (#{(map-get($breakpoints, xxxlarge))} - 80px ) / 2)  );
      }
      > .xlarge-2.columns { width: 15%; }
      > .xlarge-8.columns.end { width: 73.7%; }
    }
  }
}

html.filter-open {
  .off-canvas-wrapper {
    height: 100%;
  }
  #newsletters {
    .filter {
      .menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-y: scroll;
        > li {
          margin: 20px 20px 0px 20px;
          > a:not(.button) {
            padding: 0;
            font-size: 20px;
          }
        }
        > li:first-child {
          position: fixed;
          text-align: right;
          top: 0;
          left: 0;
          width: 100%;
          margin: 0;
          z-index: 2;
          a {
            margin-right: 20px;
            i { display: inline-block; }
          }
        }
        > li:nth-child(2) {
          margin-top: 40px;
        }
        > li:nth-last-child(2) {
          margin-bottom: 70px;
        }
        > li:last-child {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          margin: 0;
          z-index: 2;
        }
      }
    }
  }
}

//-----------------------------//
//   NEWSLETTERS PREFERENCES   //
//-----------------------------//

#newsletters-preferences {
  > .row {
    padding-top: 40px;
    .filter .filter-button { }
    .column, columns{
      @include breakpoint(medium down) {
        padding-left: 8px;
        padding-right: 8x;
      }
    }
    h4 {
      @include txt-l2($error);
      margin: 20px 0 40px;
    }
    p {
      @include txt-f1();
      margin-bottom: 30px;
      input[type="text"]:disabled {
        margin-top: 10px;
        @include breakpoint(large up) {
          margin-top: 0px;
          display: inline;
          width: 250px;
          margin-left: 15px;
        }
      }
    }
    .notice {
      background-color: $light-gray;
      border: 1px solid $medium-gray;
      padding-top: 20px; padding-bottom: 20px;
      margin-bottom: 30px;
      position: relative;
			text-align: center;
      h4 { margin: 0; text-transform: uppercase; }
      p { margin-top: 15px; line-height: 28px; margin-bottom: 0; }
    }
    .preference {
      position: relative; @include txt-l1();
      line-height: 16px;
      padding: 16px 0 16px 70px;
      .switch {
        position: absolute;
        top: -webkit-calc(50% - 15px);
        top: -moz-calc(50% - 15x);
        top: calc(50% - 15px);
        left: 0;
        input:checked ~ .switch-paddle { background-color: #9bbe41; }
      }
      @include breakpoint(xlarge up) {
        line-height: 20px;
        padding: 20px 0 20px 70px;
      }
    }
    .border {
      position: relative;
      border-bottom: 1px solid #ccc;
      padding-bottom: 30px;
      @include breakpoint(xlarge up) {
        border-bottom: 0px solid #fff;
        border-right: 1px solid #bbb;
        padding-right: 60px;
        padding-bottom: 0px;
      }
    }
    .border:before {
      display: block;
      position: absolute;
      background-color: #fff;
      text-align: center;
      content: "or";
      @include txt-f1();
      line-height: 35px;  height: 40px; width: 40px;
      bottom: -20px;
      right: -webkit-calc(50% - 20px);
      right: -moz-calc(50% - 20px);
      right: calc(50% - 20px);
      @include breakpoint(xlarge up) {
        top: -webkit-calc(50% - 20px);
        top: -moz-calc(50% - 20px);
        top: calc(50% - 20px);
        right: -20px;
        bottom: auto;
      }
    }
    .unsubscribe-from-one {
      @include breakpoint(xlarge up) {
        padding-right: 0px;
      }
    }
    .unsubscribe-from-all {
      padding-top: 30px;
      @include breakpoint(xlarge up) {
        padding-left: 60px;
        padding-top: 0;
        //.preference { margin-top: 129px; }
      }
      @include breakpoint(xxlarge up) {
        //.preference { margin-top: 87px; }
      }
    }
    .save {
      padding-top: 40px;
      padding-bottom: 30px;
      text-align: center;
      .button {
        @include txt-b1($primary);
        @include button-1();
        padding: 0 50px;
      }
			.button.saved {
				border-color: green;
				color: green;
			}
      .button:hover {
        @include button-1-hover();
      }
    }
    .communications {
      padding-bottom: 30px;
    }
    .return-button {

      background-color: $secondary;
      @include txt-b1($primary);
      width: 130px;
      height: 40px;
      line-height: 20px;
      margin: 0;
      position: absolute;
      top: -60px;
      left: -webkit-calc(50% - 65px);
      left: -moz-calc(50% - 65px);
      left: calc(50% - 65px);
    }
    .menu-wrap {
      @include breakpoint(large down) {
        height: auto !important;
      }
      position: relative;
      .menu {
        display: block;
        padding-top: 20px;
        width: 153px;
        > li {
          > a { padding: 0 15px 0 15px; position: relative; }
          > a.selected i { top: 5px; position: absolute; right: -2px; display: inline-block; }
          > a:hover { background-color: $neutral-l3; }
        }
        > li {
          margin-bottom: 5px;
          > a {
            padding: 0 15px 0 15px; position: relative;
            @include txt-l1();
          }
          > a.selected {
            @include txt-l2($primary);
          }
          > a:hover { background-color: $neutral-l3; }
        }
      }
    }
  }
}

//-----------------------------//
//     NEWSLETTERS PREMIUM     //
//-----------------------------//

.hero-premium {
	background: linear-gradient(90deg, #FFFFFF 0%, #D5F2F5 100%);
	.columns {
		padding-top: 40px; padding-bottom: 50px;
		h1 {
			font-family: 'Lato-Light';
			font-size: 35px;
			line-height: 42px;
			color:  #333;
			font-weight: normal;
		}
		p {
			font-family: 'Lato-Light';
			font-size: 12px;
			line-height: 15px;
			margin-top: 18px;
			margin-bottom: 10px;
		}
		.market-logo {
			font-size: 30px;
		}
	}
	@include breakpoint(large up) {
		.columns {
			h1 { font-size: 45px; line-height: 60px; }
			.market-logo { font-size: 35px;}
		}
	}
	@include breakpoint(xlarge up) {
		.columns {
			h1 { font-size: 60px; line-height: 72px; }
			.market-logo { font-size: 40px;}
		}
	}
}

#newsletters-premium {
	.intro {
		h2 {
			margin-top: 40px;
			margin-bottom: 20px;
			@include txt-h2();
		}
		p {
		  @include txt-l3();
		}
		hr {
			margin-bottom: 40px;
		}
	}
	.card {
		.description {
      padding: $margin $margin ($margin * 6.5) $margin;
		}
		.action {
      bottom: $margin * .5;
			> .more-link, >	 .more-close {
				display: inline-block;
				text-align: center;
				text-decoration: underline;
				font-family: "Lato";
				font-size: 12px;
				width: 100%;
				padding: 20px;
				color: #777;
			}
		}
		.rate {
			font-family: "Lato";
			font-weight: 900;
			.float-left {
				text-transform: uppercase;
				font-size: 10px;
				color: #aaaaaa;
			}
			.float-right {
				color: #FF5443;
				font-size: 12px;
			}
		}
		a.button {
			border-color: #FF5241;
			color: #FF5241;
		}
		a.button:hover {
			color: #ffffff;
			background-color: #FF5241;
		}
	}
	.more-modal {
		display: none;
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: rgba(256,256,256,.7);
		z-index: 1;
		top: 0;
		left: 0;
	}
	.more-modal-content {
		position: fixed;
		width: 320px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		padding: 0px;
		background-color: #fff;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
		> div.columns:first-child, .description { padding: 0; }
		> div.columns:last-child {
			padding: 30px 30px 0;
			> .more-close {
				position: absolute;
				top: 5px;
				right: 5px;
				display: block;
				width: 20px;
				text-align: center;
				color: #ccc;
			}
		}
		.action {
			position: relative;
			bottom: auto;
			left: auto;
			width: 100%;
			text-align: center;
			margin-top: 30px;
			.button { width: 250px; display: inline-block; background-color: #FF5241; color: #fff; }
		}
		div.more-text {
			p, ul {
				font-family: "Lato";
				font-size: 14px;
				line-height: 26px;
				color: #666666;
			}
			p:last-child {
				font-size: 10px;
				line-height: 12px;
			}
		}
		@include breakpoint(large up) {
			width: 606px;
		}
		@include breakpoint(xlarge up) {
			width: 980px;
			> div.columns:last-child {
				padding: 40px 50px 0;
			}
			.rate {
				.float-left {
					font-size: 14px;
				}
				.float-right {
					font-size: 16px;
				}
			}
			.card-title {
				font-size: 29px;
				line-height: 29px;
			}
			div.more-text {
				p, ul {
					font-size: 16px;
					line-height: 27px;
				}
				p:last-child {
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
	}
	.newsletters-ad {
		background-color: #333;
		color: #fff;
		padding: 40px;
		font-family: 'Lato';
		font-size: 17px;
		text-transform:uppercase;
		text-align: center;
		p {
			padding: 0px;
			margin: 0;
			line-height: 40px;
		}
		span {
			color: #FF5241;
		}
		a {
			color: #FF5241;
			display: inline-block;
			border: 1px solid #FF5241;
			padding: 0 20px;
			font-size: 14px;
			margin-top: 10px;
		}
		@include breakpoint(xlarge up) {
			p {
				display: inline-block;
			}
			p:last-child {
				border-left: 1px solid #fff;
				margin-left: 40px;
			}
			a{
				margin-left: 40px;
				maring-top: 0;
			}
		}
	}
	.premium-legal {
		p {
			font-family: 'Lato';
			padding: 0;
			margin: 40px 0;
			font-size: 12px;
			line-height: 15px;
		}
	}
}

//-----------------------------//
//   NEWSLETTERS UNSUBSCRIBE   //
//-----------------------------//

#newsletters-unsubscribe {

	form {

		margin: 10px 0px 30px;
		h3 {
			margin-bottom: 20px;
			font-family: 'Lato-Light';
		}
		p {
			font-size: 16px;
			line-height: 28px;
			font-family: 'Lato-Light';
		}
		input {
			margin-top: 12px;
			font-family: georgia, arial, sans-serif;
		}
	}
	@include breakpoint(xlarge up) {
    > .row {
      background: url('../images/layout-bg.png') repeat-y;
      background-position: right 40px top;
			padding-top: 30px;
    }
  }
	.menu-wrap {
		@include breakpoint(large down) {
			height: auto !important;
		}
		position: relative;
		.menu {
			display: block;
			padding-top: 20px;
			width: 153px;
			> li {
				> a { padding: 0 15px 0 15px; position: relative; }
				> a.selected i { top: 5px; position: absolute; right: -2px; display: inline-block; }
				> a:hover { background-color: $neutral-l3; }
			}
			> li {
				margin-bottom: 5px;
				> a {
					padding: 0 15px 0 15px; position: relative;
					@include txt-l1();
				}
				> a.selected {
					@include txt-l2($primary);
				}
				> a:hover { background-color: $neutral-l3; }
			}
		}
	}
	.loader,
	.loader:before,
	.loader:after {
	  border-radius: 50%;
	  width: 2.5em;
	  height: 2.5em;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  -webkit-animation: load7 1.8s infinite ease-in-out;
	  animation: load7 1.8s infinite ease-in-out;
	}
	.loader {
	  color: #000000;
	  font-size: 5px;
		margin-top: 25px;
	  margin-left: 35px;
		margin-bottom: 30px;
	  position: relative;
	  text-indent: -9999em;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}
	.loader:before,
	.loader:after {
	  content: '';
	  position: absolute;
	  top: 0;
	}
	.loader:before {
	  left: -3.5em;
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}
	.loader:after {
	  left: 3.5em;
	}
	@-webkit-keyframes load7 {
	  0%,
	  80%,
	  100% {
	    box-shadow: 0 2.5em 0 -1.3em;
	  }
	  40% {
	    box-shadow: 0 2.5em 0 0;
	  }
	}
	@keyframes load7 {
	  0%,
	  80%,
	  100% {
	    box-shadow: 0 2.5em 0 -1.3em;
	  }
	  40% {
	    box-shadow: 0 2.5em 0 0;
	  }
	}

}

//---------------------------//
//   NEWSLETTERS SUBSCRIBE   //
//---------------------------//

#newsletters-subscribe {

	.columns > .card {
		box-shadow: none;
		background-color: transparent;
	}

	@include breakpoint(xlarge up) {
    > .row {
      background: url('../images/layout-bg.png') repeat-y;
      background-position: right 40px top;
			padding-top: 30px;
    }
		.columns > .card {
			width: 432px;
			.description  {
				padding-bottom: ($margin * 6);
				h5 {
					font-size: 22px;
				}
			}
		}
		.txt-l1 {
			font-size: 16px;
			line-height: 30px;
		}
  }
	@include breakpoint(large only) {
		.columns > .card {
			.action {
				width: 50%;
			}
		}
  }
	@include breakpoint(xxlarge up) {
		.columns > .card {
			width: 765px;
			.action {
				width: 50%;
			}
		}
	}
	@include breakpoint(large down) {
		.columns {
			padding: 0;
		}
	}
	.menu-wrap {
		@include breakpoint(large down) {
			height: auto !important;
			.return-button {
				margin: 15px 0;
			}
		}
		position: relative;
		.menu {
			display: block;
			padding-top: 0px;
			width: 153px;
			> li {
				> a { padding: 0 15px 0 15px; position: relative; }
				> a.selected i { top: 5px; position: absolute; right: -2px; display: inline-block; }
				> a:hover { background-color: $neutral-l3; }
			}
			> li {
				margin-bottom: 5px;
				> a {
					padding: 0 15px 0 15px; position: relative;
					@include txt-l1();
				}
				> a.selected {
					@include txt-l2($primary);
				}
				> a:hover { background-color: $neutral-l3; }
			}
		}
	}
}
