<?php
$heading = (!empty($this->marketData['landingpage_headline'])) ? $this->marketData['landingpage_headline'] : $this->heading;
$headingImage = $this->marketData['landingpage_image'];
if($this->bannerType === 'featured') {
	$class = 'hero featured';
	$style = "background-image: url($headingImage)";
}
elseif($this->bannerType === 'hero') {
	$class = 'hero';
	$style = "background-image: url($headingImage)";
}
elseif($this->bannerType === 'sponsored') {
	$class = 'hero sponsored';
	$style = "background-image: url($headingImage)";
}
else {
	$class = '';
	$style = '';
}
?>

<?php $this->renderBanner($class, $style, $heading, $this->marketData['landingpage_narrative'], $this->sponsor);?>

<section id="newsletters" class="r-wrap">
	<div class="row">

		<?php if(!empty($this->newsletters)) : ?>

		<div class="small-12 xlarge-2 columns filter" data-sticky-container>
			<?php $this->renderNewsletterMenu($this->newsletters);?>
		</div>

		<div class="small-12 xlarge-8 columns end" id="no-touch">
			<?php foreach($this->newsletters as $key => $category):?>
			<section class="section-<?=$category['order']?> <?=$category['class']?> row small-up-1 large-up-2 xxlarge-up-3 xxxlarge-up-4" data-equalizer <?=(!empty($category['newsletters'])) ? 'data-equalize-by-row="true"': ''?>>
				<h4 class="subhead"><?=$category['name']?></h4>
				<?php
				if(!empty($category['newsletters'])):
					ksort($category['newsletters']);
					foreach($category['newsletters'] as $key => $newsletter) {
						if($key === 1 && $category['order'] === 1)
							$this->renderNewsletterCard($newsletter, ($this->bannerType === 'featured'));
						else
							$this->renderNewsletterCard($newsletter, false);
					}
				endif;
				?>
			</section>
			<?php endforeach; ?>
			<div class="top-wrap show-for-xlarge">
				<a id="top-button" class="top-button button" href=""><i class="fa fa-angle-up"></i></a>
			</div>
		</div>

		<div class="small-12 xlarge-8 end columns" id="touch">
			<div class="ms-filters-template">
				<?php foreach($this->newsletters as $category): ?>
				<section class="section-<?=$category['order']?> <?=$category['class']?>">
					<h4 class="subhead"><?=$category['name']?></h4>
					<?php
					if(!empty($category['newsletters'])): ?>
					<div class="master-slider ms-skin-default" data-equalizer>
					<?php
						ksort($category['newsletters']);
						foreach($category['newsletters'] as $key => $newsletter): ?>
						<div class="ms-slide">
							<?php if($key === 1 && $category['order'] === 1)
								$this->renderNewsletterCard($newsletter, ($this->bannerType === 'featured'));
							else
								$this->renderNewsletterCard($newsletter); ?>
						</div>
						<?php endforeach; ?>
					</div>
					<?php endif; ?>
				</section>
				<?php endforeach; ?>
			</div>
		</div>
		<?php else: ?>

		<div class="small-12 columns">
			<p class="text-center" style="margin-bottom: 40px;">Newsletters are currently not available.</p>
		</div>

		<?php endif; ?>

	</div>
</section>
